---
layout: page
title:  Etiquetas
lang:   es
ref:    tags
---

<ul class="site-tags">
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li class="site-tag"><a href="#{{ t | slugify }}">{{ t }}</a></li>
{% endfor %}
</ul>

{% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

  <h2 id="{{ t | slugify }}">{{ t }}</h2>
  <ul class="post-list">
  {% assign default_posts = posts | where:"lang", "en" %}
  {% for default in default_posts %}
    {% if default.tags contains t %}
      {% assign translation = site.posts | where:"ref", default.ref | where:"lang", page.lang %}
      {% if translation[0] %}
      <li><time class="post-meta" datetime="{{ translation[0].date | date_to_xmlschema }}">{{ translation[0].date | date: "%Y-%m-%d" }}</time> <a class="post-link" href="{{ translation[0].url | relative_url }}">{{ translation[0].title | escape }}</a></li>
      {% else %}
      <li><time class="post-meta" datetime="{{ default.date | date_to_xmlschema }}">{{ default.date | date: "%Y-%m-%d" }}</time> <a class="post-link" href="{{ default.url | relative_url }}">{{ default.title | escape }}</a> [en] </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
