---
layout: default
lang:   en
ref:    index
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  <ul id="main-content" tabindex="-1" class="post-list">
    {% assign posts = site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li><time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
    {% endfor %}
  </ul>

  <h2>Projects</h2>
  <ul class="repo-list">
    <li><a class="repo-link" href="//github.com/{{ site.author.github }}/bluevanilla">BlueVanilla</a></li>
    <li><a class="repo-link" href="//github.com/{{ site.author.github }}/bluefusion">BlueFusion</a></li>
    <li><a class="repo-link" href="//github.com/{{ site.author.github }}/bluerock">BlueRock</a></li>
    <li><a class="repo-link" href="//lynx.aguslr.com/">Lynx.css</a></li>
    <li><a class="repo-link" href="//mbusb.aguslr.com/">MultiBoot USB</a></li>
  </ul>

</div>
