---
layout: default
lang:   es
ref:    index
---

<div class="home">

  <h1 class="page-heading">Entradas</h1>
  <ul id="main-content" tabindex="-1" class="post-list">
    {% assign posts = site.posts | where:"lang", "en" %}
    {% for default in posts %}
      {% assign translation = site.posts | where:"ref", default.ref | where:"lang", page.lang %}
      {% if translation[0] %}
      <li><time class="post-meta" datetime="{{ translation[0].date | date_to_xmlschema }}">{{ translation[0].date | date: "%Y-%m-%d" }}</time> <a class="post-link" href="{{ translation[0].url | relative_url }}">{{ translation[0].title | escape }}</a></li>
      {% else %}
      <li><time class="post-meta" datetime="{{ default.date | date_to_xmlschema }}">{{ default.date | date: "%Y-%m-%d" }}</time> <a class="post-link" href="{{ default.url | relative_url }}">{{ default.title | escape }}</a> [en] </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Proyectos</h2>
  <ul class="repo-list">
    <li><a class="repo-link" href="//github.com/{{ site.author.github }}/bluevanilla">BlueVanilla</a></li>
    <li><a class="repo-link" href="//github.com/{{ site.author.github }}/bluefusion">BlueFusion</a></li>
    <li><a class="repo-link" href="//github.com/{{ site.author.github }}/bluerock">BlueRock</a></li>
    <li><a class="repo-link" href="//lynx.aguslr.com/">Lynx.css</a></li>
    <li><a class="repo-link" href="//mbusb.aguslr.com/">MultiBoot USB</a></li>
  </ul>

</div>
