---
layout: page
title:  Tags
lang:   en
ref:    tags
---

<ul class="site-tags">
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li class="site-tag"><a href="#{{ t | slugify }}">{{ t }}</a></li>
{% endfor %}
</ul>

{% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

  <h2 id="{{ t | slugify }}">{{ t }}</h2>
  <ul class="post-list">
  {% for post in posts %}
    {% if post.tags contains t and post.lang == page.lang %}
    <li><time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
