<footer class="site-footer">

  <div class="wrapper">

    <hr/>

    <ul class="links-list">
      {% if site.author.email %}
      <li><a href="mailto:HIDDEN" target="_blank" class="email">{{ site.t[page.lang].mail }}</a></li>
      {% endif %}
      {% if site.author.gitlab %}
      <li><a rel="me" href="https://gitlab.com/{{ site.author.gitlab }}" class="gitlab">GitLab</a></li>
      {% endif %}
      {% if site.author.github %}
      <li><a rel="me" href="https://github.com/{{ site.author.github }}" class="github">GitHub</a></li>
      {% endif %}
      {% if site.author.mstdn %}
      <li><a rel="me" href="https://mstdn.io/@{{ site.author.mstdn }}" class="mastodon">Mastodon</a></li>
      {% endif %}
      {% if site.author.twitter %}
      <li><a rel="me" href="https://twitter.com/{{ site.author.twitter }}" class="twitter">Twitter</a></li>
      {% endif %}
      <li><a href="{{ site.t[page.lang].feed | relative_url }}" class="rss">RSS</a></li>
    </ul>

    <div class="copyright-notice">
      <p><span class="nobr">&#169; 2012{% capture year %}{{ site.time | date: '%Y' }}{% endcapture %}{% if year != '2012' %}-{{ year }}{% endif %}</span> <span class="nobr">{{ site.author.name }}</span> / <a class="nobr" href="{{ site.t[page.lang].lic }}" title="{{ site.t[page.lang].lict }}">CC BY</a></p>
    </div>

  </div>

  {% if site.author.email %}
  {% include email.html %}
  {% endif %}

  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
</footer>
