<header class="site-header">

  <div class="wrapper">

    <div class="skip-content">
      <a href="#main-content">{{ site.t[page.lang].skip }}</a>
    </div>

    <div class="site-heading">
      <a href="{{ site.t[page.lang].url | relative_url }}">
        <svg class="site-logo" height="100px" width="100px" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <path d="m0 0v100h100v-100zm47.4 22.794h5.2125v54.412h-5.2125v-53.412zm9.6 0h15.319c4.1216 0.00005 7.6664 1.4803 10.575 4.4125 0.001 0.001 0.0053-0.001 0.0062 0l0.2875 0.29375v0.025c2.7057 2.8486 4.0875 6.2798 4.0875 10.256-0.000038 3.4181-1.0554 6.5041-3.1562 9.2125h-0.0062c-2.0157 2.5881-4.6101 4.3182-7.75 5.1938l12.2 23.562 0.75625 1.4562h-5.888l-0.281-0.52-12.425-23.93h-13.725v-5.25h15.319c2.6609 0.00003 4.949-0.93725 6.85-2.8l0.025-0.025c1.8825-1.9073 2.8312-4.2077 2.8312-6.8812-0.000032-2.6746-0.94307-4.9682-2.825-6.875-1.9066-1.9065-4.2071-2.8625-6.8812-2.8625h-15.319v-4.25zm-14 0.0813v9.3374l-0.14375 0.24375-15.919 26.694h16.063v5.0562h-19.056l-7.4375 12.481-0.2625 0.4375h-5.563l0.90625-1.5125 29.806-50.031z"/>
        </svg>
      </a>
    </div>

    <nav class="site-nav">
      <div class="trigger">
        <ul class="page-lang-menu">
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% for post in posts %}
          <li><a class="{{ post.lang }}" href="{{ post.url | relative_url }}">{{ post.lang }}</a></li>
          {% endfor %}
          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %}
          <li><a class="{{ page.lang }}" href="{{ page.url | relative_url }}">{{ page.lang }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>

  </div>

</header>
