<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <title>
    {% if page.title and page.title != site.title %}
      {{ page.title | escape }} - {{ site.title | escape }}
    {% else %}
      {{ site.title | escape }} - {{ site.t[page.lang].desc | escape }}
    {% endif %}
  </title>
  <meta name="description" content="{{ page.excerpt | default: site.t[page.lang].desc | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  {% if page.tags %}{% assign sorted_tags = page.tags | sort %}<meta name="keywords" content="{{ sorted_tags | join: ', ' }}">{% endif %}

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title | escape }}" href="{{ site.t[page.lang].feed | relative_url }}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
  {% assign altposts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for altpost in altposts %}
    <link rel="alternate" hreflang="{{ altpost.lang }}" href="{{ altpost.url | absolute_url }}" />
  {% endfor %}
  {% assign altpages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for altpage in altpages %}
    <link rel="alternate" hreflang="{{ altpage.lang }}" href="{{ altpage.url | absolute_url }}" />
  {% endfor %}
</head>
