{% capture videoPath %}/assets/posts/{{ page.ref }}/{{ include.id }}{% endcapture %}
{% capture videoURL %}{{ videoPath | relative_url }}{% endcapture %}
<video controls="controls"
  {% if include.height %}height="{{ include.height }}"{% endif %}
  {% if include.width %}width="{{ include.width }}"{% endif %}>
  <source src="{{ videoURL }}.webm" type="video/webm">
  <source src="{{ videoURL }}.ogg"  type="video/ogg">
  <source src="{{ videoURL }}.mp4"  type="video/mp4">
  Your browser does not support the video tag.
</video>
