<!-- https://github.com/jekyll/jekyll/issues/881 -->
<!-- https://eduardoboucas.com/blog/2014/12/07/including-and-managing-images-in-jekyll.html -->
{% capture imagePath %}/assets/posts/{{ page.ref }}/{{ include.file }}{% endcapture %}
{% capture imageURL %}{{ imagePath | relative_url }}{% endcapture %}
{% if include.caption %}
  <figure>
    <a href="{{ imageURL }}">
      <img class="thumb" src="{{ imageURL }}"
        {% if include.alt %}alt="{{ include.alt }}" title="{{ include.alt }}"{% endif %}
        {% if include.height %}height="{{ include.height }}"{% endif %}
        {% if include.width %}width="{{ include.width }}"{% endif %}/>
    </a>
    <figcaption>{{ include.caption }}</figcaption>
  </figure>
{% else %}
  <a href="{{ imageURL }}">
    <img class="thumb" src="{{ imageURL }}"
      {% if include.alt %}alt="{{ include.alt }}" title="{{ include.alt }}"{% endif %}
      {% if include.height %}height="{{ include.height }}"{% endif %}
      {% if include.width %} width="{{ include.width }}"{% endif %}/>
  </a>
{% endif %}
