<!-- http://www.adamwadeharris.com/how-to-easily-embed-youtube-videos-in-jekyll-sites-without-a-plugin/ -->
<div class="embed-video">
  <iframe src="//www.youtube.com/embed/{{ include.id }}" frameborder="0" allowfullscreen=""></iframe>
</div>
