// Dimensions
$page-maxw: 72ch;
$page-minw: 20ch;
$page-maxw-alt: 40em;
$page-minw-alt: 10em;

// Fonts
$font-sans:     sans-serif;
$font-serif:    sans-serif;
$font-mono:     monospace;

// Color theme
$color0:    black;
$color1:    white;
$color2:    blue;
$color3:    blue;

// Colors (light on dark)
$fg-color:      $color0;
$bg-color:      $color1;
$accent:        $color2;
$accent-alt:    $color3;
$grayscale1:    $bg-color;
$grayscale2:    rgba($fg-color, 0.05);
$grayscale3:    rgba($fg-color, 0.2);
$grayscale4:    rgba($fg-color, 0.5);
$grayscale5:    rgba($fg-color, 0.9);
$grayscale6:    $fg-color;

//  vim: set ts=4 sw=4 tw=0 et :
