---
---
@charset "utf-8";

//* { border: 1px solid red; }
//html {
//  -webkit-filter: grayscale(100%);
//     -moz-filter: grayscale(100%);
//          filter: grayscale(100%);
//}

// Import partials
@import "base";


/******************************************************************************/
/* Content                                                                    */
/******************************************************************************/

/* Reset box-sizing */
/* https://css-tricks.com/box-sizing/ */
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

/* Body */
body {
  background-color: $bg-color;
  color: $fg-color;
  margin: 0 auto;
  max-width: $page-maxw-alt;
  max-width: $page-maxw;
  min-width: $page-minw-alt;
  min-width: $page-minw;
  padding: 0;
}

/* Wrapper */
.wrapper {
  margin: 1rem;
}

/* Text */
p,
li {
  line-height: 1.5em;
}

/* Content */
.page-content {
  clear: both;
}

/* Images and videos */
figure {
  padding: 0;
  max-width: 100%;
}
img,
video {
  border: 1px solid $grayscale3;
  display: block;
  height: auto;
  margin: 1rem auto;
  max-width: calc(100% - 1rem);
}
video {
  width: 100%;
}

/* Code and blockquotes */
pre,
blockquote {
  margin: 1rem 0.5rem;
  max-width: 100%;
  padding: 1em;
}
pre {
  overflow-x: auto;
}
blockquote {
  border-left: 1px solid $grayscale3;
  color: $grayscale5;
}
pre,
a > code,
li > code {
  background-color: $grayscale2;
  border: 1px solid $grayscale3;
  font-size: 90%;
  white-space: pre;
}
code.language-console,
code.language-shell_session,
code.language-terminal,
.language-console code,
.language-shell_session code,
.language-terminal code {
  display: inline-block;
  margin-left: 2ch;
}
code.language-console::first-line,
code.language-shell_session::first-line,
code.language-terminal::first-line,
.language-console code::first-line,
.language-shell_session code::first-line,
.language-terminal code::first-line {
  text-indent: -2ch;
}
code.language-console::before,
code.language-shell_session::before,
code.language-terminal::before,
.language-console code::before,
.language-shell_session code::before,
.language-terminal code::before {
  content: '$ ';
}
.superuser code.language-console::before,
.superuser code.language-shell_session::before,
.superuser code.language-terminal::before,
.language-console.superuser code::before,
.language-shell_session.superuser code::before,
.language-terminal.superuser code::before {
  content: '# ';
}

/* Tables */
table {
  border-collapse: collapse;
  margin: 1rem auto;
  overflow-x: auto;
  width: calc(100% - 1rem);
}
th {
  background-color: $grayscale2;
}
th,
td {
  border: 1px solid $grayscale3;
  padding: 0.5em;
}

/* Selected text */
::selection {
  background-color: $accent-alt;
  color: $grayscale1;
}
::-moz-selection {
  background-color: $accent-alt;
  color: $grayscale1;
}

/* Non-breakable text */
.nobr {
  white-space: nowrap;
}


/******************************************************************************/
/* Header and footer                                                          */
/******************************************************************************/

/* Logo */
.site-logo {
  height: auto;
  max-height: 5rem;
  width: 5rem;
}
.site-logo path {
  fill: $fg-color;
}
.site-heading:hover path {
  fill: $accent-alt;
}

/* Title */
.site-title {
  margin: 1rem;
  vertical-align: top;
}
.site-heading:hover p {
  color: $accent-alt;
}

/* Heading and navigation */
.skip-content {
  left: -9999px;
  position: absolute;
  top: 1em;
}
.skip-content:focus,
.skip-content:focus-within {
  left: 50%;
  transform: translateX(-50%);
}
.site-heading,
.site-nav {
  display: inline-block;
  margin: 1rem 0 2rem;
}
.site-heading {
  font-size: 200%;
  max-width: 15rem;
}
.site-nav {
  float: right;
  max-width: calc(100% - 15rem);
  position: static;
  text-align: right;
  top: 0.5rem;
  right: 0.5rem;
}
.site-heading a,
.site-heading a:hover,
.site-heading a:active {
  background-color: inherit;
  color: inherit;
  border-width: 0;
  text-decoration: none;
}
.site-heading p {
  display: inline-block;
}

/* Links */
ul.page-lang-menu,
ul.links-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.page-lang-menu li,
.links-list li {
  display: inline-block;
  padding: 0.2em;
}
.en:lang(en),
.es:lang(es) {
  font-weight: bold;
}

/* Footer */
.site-footer {
  text-align: center;
}
.site-footer hr {
  background-color: $grayscale4;
  border: 0;
  height: 1px;
}
.site-footer .links-list {
  padding: 1em 0 0;
}
.site-footer .copyright-notice {
  padding: 0 0 1em;
}


/******************************************************************************/
/* Home                                                                       */
/******************************************************************************/

.home h1 {
  display: none;
}

.post-list .post-meta:after {
  content: " \00BB  ";
}
ul.post-list,
ul.repo-list {
  margin: 0 auto;
  padding-left: 0;
  width: 80%;
}


/******************************************************************************/
/* Posts                                                                      */
/******************************************************************************/

.post-header {
  padding-bottom: 2em;
}
.post-header h1 {
  margin: 0;
  padding: 0.5em 0 0.2em;
}
.post-header .post-meta {
  margin: 0;
}
.post-header .post-meta:before {
  content: " \00BB  ";
}
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  padding: 0.4em 0 0.1em;
}
.post-footer {
  margin: 2em;
  text-align: center;
}

/* Image gallery */
.gallery {
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}
.gallery img {
  display: inline-block;
  margin: 0 auto;
}

/* Responsive video */
/* http://www.adamwadeharris.com/how-to-easily-embed-youtube-videos-in-jekyll-sites-without-a-plugin/#comment-3068085140 */
.embed-video {
  height: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.embed-video video,
.embed-video iframe,
.embed-video object,
.embed-video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.embed-video video,
.embed-video iframe {
  padding: 1rem 0.5rem;
}


/******************************************************************************/
/* Tags                                                                       */
/******************************************************************************/


ul.post-tags,
ul.site-tags {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
li.post-tag,
li.site-tag {
  display: inline-block;
  margin: 0.1rem 0.2rem;
}
li.post-tag a:before,
li.site-tag a:before {
    content: "#";
}


/******************************************************************************/
/* Media queries                                                              */
/******************************************************************************/

@media (prefers-color-scheme: dark) {
  body {
    background-color: $fg-color;
    filter: invert(1);
  }
  img,
  video {
    filter: invert(1);
  }
}
@media only screen and (max-width : 30em) {
  body {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  ul.post-list,
  ul.repo-list {
    list-style-type: none;
    width: auto;
  }
  ul.post-list time {
    display: block;
  }
  .post-list .post-meta::after {
    display: none;
  }
  .post-content p {
    text-align: left;
  }
}
@media print {
  body {
    max-width: none;
  }
}

//  vim: set ts=2 sw=2 tw=0 et :
