---
layout: default
---
<article class="page">

  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  <div id="main-content" tabindex="-1" class="page-content">
    {{ content }}
  </div>

</article>
