---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% if page.redirect %}{% assign t = page.title %}{% assign u = page.redirect %}
{% else %}
{% for post in site.posts %}
{% if page.slug == post.short %}{% assign t = post.title %}{% assign u = site.url | append: post.url | relative_url %}{% endif %}
{% endfor %}
{% endif %}
  <head>
    <link rel="canonical" href="{{ u }}">
    <meta http-equiv="refresh" content="0;URL='{{ u }}'" />
    <meta name="robots" content="noindex">
  </head>
  <body>

    <p><a href="{{ u }}">{{ t | escape }}</a></p>
    {% if jekyll.environment == 'production' and site.google_analytics %}{% include google-analytics.html %}{% endif %}
  </body>
</html>
